<div id="courses">
  <div class="tt-main">
    <div class="tt-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <div class="tt-course">
              <div class="tt-course-summary">
                <h3><%= @course.name %></h3>
                <p> <%= t ".name" %> <%= @course.description %></p>
                <p> <%= t ".start_date" %> <%= @course.start_date %></p>
                <p> <%= t ".end_date" %> <%= @course.end_date %></p>
                <p> <%= t ".status" %> <%= @course.status %></p>
                <div class="pull-right">
                  <% unless @course.finished?%>
                    <p><%= link_to t(".add_supervisor_to_course"),
                      edit_supervisor_course_assign_trainers_path(@course) %></p>
                    <p><%= link_to t(".add_trainee_to_course"),
                      edit_supervisor_course_assign_trainees_path(@course) %></p>
                  <% end %>
                  <p><%= link_to t(".view_progress"), "#" %></p>
                </div>
              </div>
              <div class="tt-subject">
                <h3><%= t ".list_subject_in_course" %></h3>
                <% @course_subjects.each do |course_subject| %>
                  <div class="media">
                    <div class="media-body">
                      <p class="media-middle"><%= link_to course_subject.subject.name,
                        supervisor_subject_path(course_subject.subject) %></p>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
