<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render "shared/stats" %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render "follow_form" if logged_in? %>
    <div class="task_info">
      <table class="table table-hover">
        <% @user.courses.each do |course| %>
          <tr>
            <td class="color-name"><%= t ".coursename" %><p><%= course.name %></p></td>
            <td class="color-name"><%= t ".startdate" %><p>
            <%= course.start_date %><%= t "./"%><%= course.end_date%></p></td>
            <td class="color-name"><%= t ".status" %>
              <p>
                <% if course.pending? %>
                  <%= form_for [:supervisor, course] do |f| %>
                    <%= f.hidden_field :status, value: :starting %>
                    <%= f.submit t("supervisor.courses.index.start"),
                      class: "btn btn-success col-md-8" %>
                  <% end %>
                <% elsif course.starting? %>
                  <%= form_for [:supervisor, course] do |f| %>
                    <%= f.hidden_field :status, value: :finished %>
                    <%= f.submit t("supervisor.courses.index.finished"),
                      class: "btn btn-danger col-md-8" %>
                  <% end %>
                <% else %>
                  <span class="label label-default">
                    <%= t "supervisor.courses.index.finished" %>
                  </span>
                <% end %>
              </p>
            </td>
          </tr>
          <tr>
            <table class="table table-hover">
              <% @user.user_subjects.each do |user_subject| %>
                <tr>
                  <td class="color-name"><%= t ".subjectname" %><p>
                    <%= user_subject.subject.name %></p></td>
                  <td class="color-name"><%= t ".startdate" %><p>
                    <%= user_subject.subject.start_date %><%= t "./"%>
                      <%= user_subject.subject.end_date %>
                    </p>
                  </td>
                  <td>
                    <% if user_subject.inprogress? %>
                      <%= form_for user_subject do |f| %>
                        <%= f.hidden_field :status, value: :finished %>
                        <%= f.submit t(".finished"),
                          class: "btn btn-danger col-md-8" %>
                      <% end %>
                    <% else %>
                      <span class="label label-default">
                        <%= t "supervisor.courses.index.finished" %>
                      </span>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <td><%= t ".taskname" %></td>
                          <td><%= t ".status" %></td>
                        </tr>
                      </thead>
                      <% user_subject.tasks.each do |task| %>
                        <tr>
                          <td><%= task.name %></td>
                          <td>
                            <% task.user_tasks.each do |user_task| %>

                              <p>
                                <% if user_task.start? %>
                                  <%= form_for user_subject do |f| %>
                                      <%= f.hidden_field :status, value: :inprogress %>
                                      <%= f.submit t("users.show.inprogress"),
                                        class: "btn btn-success col-md-8" %>
                                  <% end %>
                                <% elsif user_task.inprogress? %>
                                  <%= form_for user_subject do |f| %>
                                      <%= f.hidden_field :status, value: :finished %>
                                      <%= f.submit t("users.show.finished"),
                                        class: "btn btn-danger col-md-8" %>
                                  <% end %>
                                <% else %>
                                  <span class="label label-default">
                                    <%= t "supervisor.courses.index.finished" %>
                                  </span>
                                <% end %>
                              </p>
                            <% end %>
                          </td>
                        </tr>
                      <% end %>
                    </table>
                  </td>
                </tr>
              <% end %>
            </table>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
