<p>
  <strong><%= t "aplication.model.subject.name" %></strong>
  <%= @subject.name %>
</p>

<p>
  <strong><%= t "aplication.model.subject.start_date" %></strong>
  <%= @subject.start_date %>
</p>

<p>
  <strong><%= t "aplication.model.subject.end_date" %></strong>
  <%= @subject.end_date %>
</p>

<%= link_to t(". edit"), "#", class: "btn btn-primary" %>
<%= link_to t(". back"), supervisor_subjects_path, class: "btn btn-primary" %>

<h2><%= t ".all_task" %></h2>
<hr>
<table class = "table table-striped">
  <thead>
    <tr>
      <th><%= t ".name" %></th>
      <th><%= t ".content" %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>
