<% provide :title, t(".all_task") %>
<div class = "page-header">
  <h2><%= t ".all_task" %></h2>
  <p><%= link_to t(".new"), new_supervisor_subject_path,
    class: "btn btn-primary" %></p>
</div>
<hr>
<table class = "table table-striped">
  <thead>
    <tr>
      <th><%= t ".name" %></th>
      <th><%= t ".content" %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.content %></td>
      </tr>
    <% end %>
    <%= will_paginate %>
  </tbody>
</table>
